.green-glow {
  border: 6px solid #66ff33;
  box-shadow: 0 0 25px #66ff33;
  background-color: #880101;
}

.red-glow {
  border: 6px solid #fc121b;
  box-shadow: 0 0 25px #880101;
  background-color: #880101;
}

.grey-glow {
  border: 6px solid black;
  box-shadow: 0 0 25px black;
  background-color: #880101;
}
