$firstFont: Source Sans Pro, sans-serif;
$secondFont: Fresca, sans-serif;;
$baseFontColor: #ffffff;
$headerBackground: url("../img/m-h-night.jpg");
$specialWordColor: #FF4E33;
$buttonColor: #E3AC00;
$cardBackground: #3B3F50;
$cardColor: #ffffff;
$contentBackground: #21232E;
$gradientColor: linear-gradient(90deg, #dda306 0%, #942f50 100%);