$firstFont: Source Sans Pro, sans-serif;
$secondFont: Hind, sans-serif;
$baseFontColor: #2C2F3C;
$headerBackground: url("../img/m-h-day.jpg");
$specialWordColor: #14A0C7;
$buttonColor: #699900;
$cardBackground: #21232E;
$cardColor: #ffffff;
$contentBackground: #FFFFFF;
$gradientColor: linear-gradient(90deg, rgba(101,148,15,1) 0%, rgba(47,93,208,1) 100%);